@import "normalize.less";
@import "../vendor/bootstrap/less/bootstrap.less";
@import "_variables.less";
@import "font.less";

.debug {
  border: 2px solid @red;
}

a {
  color: @black;
  font-family: @font-content;
  &:hover {
    color: @red;
    text-decoration: none;
  }
  &:visited {
    color: @black;
    text-decoration: none;
  }
}


h1, h3, h4 {
  font-family: @font-heading;
}

h1 {
  font-size: 4em;
}

h3 {
  margin: 0;
}

h4 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 15px;
}

body {
  background-color: @ltgray;
  color: @black;
}

.logo-bar {
  background-color: @black;
  height: 30px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.logo {
  max-height: 7em;
}

.top {
  margin-top: 10%;
  padding: 20px;
  padding-bottom: 60px;
}

.back {
    background: @image-background;
    background-size: cover;
    box-shadow: 15px 45px 20px -15px gray,
                -15px 45px 20px -15px gray;
}


.coupon {
  background-color:rgba(255, 255, 255, 0.7);
  border: black dashed 3px;
  box-shadow: 0px 0px 18px 1px gray;
  margin-top: 20px;
  padding: 10% 10%;
  text-align: center;
}

.coupon-price {
  font-size: 3em;
  text-shadow: 1px 0;
  margin-bottom: 0;
  width: 100%;
}


.button {
  background-color: @red;
  border-radius: 100px;
  font-size: 12px;
  font-family: @font-content;
  height: 40px;
  margin: auto;
  text-align: center;
}

.save-button {
  padding: 3px 20px 3px 20px;
  width: 70%;
}

.header {
  font-size: 15px;
  margin-bottom: 5px;
  p {
    font-family: @font-content;
    font-size: 1.5em;
    padding-top: 4px;
  }
}

.headline {
  font-family: @font-heading;
  font-size: 3em;
  text-transform: uppercase;
}


.promo {
  padding: 10px;
  text-align: center;
}

.promo-button {
  padding: 3px 20px 3px 3px;
}

.promo-play {
  height: 30px;
  margin-right: 5px;
  margin-left: 0;
}

.bottom {
  background-color: white;
  box-shadow: -15px 15px 20px -15px gray,
              15px 15px 20px -15px gray;
  padding: 20px 15px;
}

.bottom-left {
  margin-bottom: 5px;
  padding: 20px 10px;
}

.bottom-right {
  border-bottom: solid 1px @ltgray;
  margin-bottom: 5px;
  padding: 20px 10px;
  p {
    font-family: @font-content;
    font-size: 1.15em;
    padding-top: 14px;
  }
}


.left-container {
  padding-top: 14px;
  text-align: center;

}

.retail-circle {
  background-color: @red;
  border-radius: @circle;
  height: 30px;
  margin: auto;
  width: 30px;
  &:hover {
    background-color: @hover-red;
  };
}

.retail-link {
  width: 30%;
}



footer {
  margin-top: 10px;
  text-align: right;
  text-transform: lowercase;
}


@media(@md-min) {

  .bottom-right {
    border-bottom: none;
    padding: 20px 10px 20px 25px;
  }

  .bottom-left {
    border-right: 1px solid @ltgray;
  }

  .top {
    margin-bottom: 10px;
  }
}